# === Java / compilados ===
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# === IntelliJ IDEA ===
.idea/
*.iml

# === Salidas de compilación ===
out/
bin/
build/
target/

# === Datos de la app (no versionar) ===
data/
!data/.gitkeep          # permite versionar la carpeta vacía, pero no los archivos reales
*.csv                   # por si se generaran CSV en otras rutas
logs/
*.log

# === SO / editor ===
.DS_Store
Thumbs.db
*.swp
*.swo

